**/results**/
**/data/
**/runs/**/**.pt
**/runs/**/figs
**/models/
**/dataset_montages/
**/__pycache__/
__pycache__/
*.pyc
**/upload_to_hub.py
**/uq_benchmark_results/

# Virtual environments
.venv*/
venv*/
env*/

# Build artifacts
dist/
build/
*.egg-info/wheels_torch_cu126_cp312_full/
benchmarks/medMNIST/utils/viz_benchmark_results/scatter_plots/*.png
wheels_torch_cu126_cp312_full/
